extends layout.pug

block body 
        div
          h2
            | Welcome
        a(href='/post' action = 'POST')
            | Post a message
        h3
            | Follow someone new
        ul
            each user in users
                li
                    form(action='/follow' method='POST')
                        input(type='hidden' name='username' value=user)
                        button(type='submit')
                            =user
        if timeline.length > 0
            h3
                | Latest posts
            div(class='sm:rounded-lg')
                table
                    tbody
                        each message in timeline
                            tr
                                td
                                    =message.message
                                    p
                                        | #{message.author}, #{message.timeString} ago                            