extends layout.pug

block body
    div
      div
        h2 Sign in to Flipper
      div
        form(action='#', method='POST')
          div
            label
              | Username
              input(type='text', name='username')
            label(for='password')
              | Password
              input(type='password', name='password', required='required')
            span
              button(type='submit') Sign in