extends layout.pug

block body

    div
      h2
        | Post a message
      form(action='/post' method='POST')
        div
          div
            div
              div


                textarea(rows='3', class='sm:text-sm sm:leading-5' name="message" required='required')
              
                span
                  a(type='button', class='hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800', href='/')
                    | Back
                span
                  button(type='submit', class='hover:bg-blue-500 focus:outline-none focus:border-blue-700 focus:shadow-outline-blue active:bg-blue-700')
                    | Send