extends layout.pug

block body

    div
      h2
        | Post a message
      form(action='/post' method='POST')
        div
          div
            div
              div


                textarea(rows='3', class='sm:text-sm sm:leading-5' name="message" required='required')
              
                span
                  a(type='button', href='/')
                    | Back
                span
                  button(type='submit',)
                    | Send